/* Custom CSS for doxygen 1.8.3.1 */

body, table, div, p, dl {
    font-family: Lucida Grande, Verdana, Geneva, Arial, sans-serif;
    font-size: 13px;
    line-height: 1.3;
}

/* @group Heading Levels */

h1 {
    font-size: 150%;
}

h2 {
    font-size: 120%;
}

h2.groupheader {
    color: #50a928;
}

h3 {
    font-size: 100%;
}

h1.glow, h2.glow, h3.glow, h4.glow, h5.glow, h6.glow {
    text-shadow: 0 0 15px #50a928;
}

a {
    color: #50a928;
    font-weight: normal;
    text-decoration: none;
}

.contents a:visited {
    color: #316718;
}

a.code, a.code:visited {
    color: #316718; 
}

a.codeRef, a.codeRef:visited {
    color: #316718; 
}

div.line.glow {
    background-color: #50a928;
    box-shadow: 0 0 10px #50a928;
}

.memberdecls td.glow, .fieldtable tr.glow {
    background-color: #50a928;
    box-shadow: 0 0 15px #50a928;
}

.memitem.glow {
    box-shadow: 0 0 15px #50a928;
}

div.directory {
    border-top: 1px solid #B0D8A8;
    border-bottom: 1px solid #B0D8A8;
}

#projectname
{
    color: white;
    font-size: 190%;
}

#projectnumber
{
    font-size: 66%;
}

#titlearea
{
    border-bottom: 1px solid #e0f2d8;
    background-image: url(header_inner_bg.png);
    background-repeat:repeat-x;
    background-color: #54aa2d;
}

/* class for headings inside tables (features and profiles) */

td.intableheading {
    font-weight: bold;
    /* text-align: center; */
    font-size: 110%;
    background-color:#B8D9A8;
    }
/* indication of support level for features */

.legend {
    line-height: 1.8;
    }

li.fullsupp {
    list-style-image: url(supp_full.png);
    }
      
li.partialsupp{
    list-style-image: url(supp_partial.png);
    }
      
li.manualsupp {
    list-style-image: url(supp_manual.png);
    }
